h4{
    font-size: 2.5em;
}
p {
    font-size: 1.3em;
}
/* what is is shown */
.drop > .Select-control {
    background-color: #222222;
    width: 100%;
    color: #eee;
    font-size: 1.15em;
}

/* when you click on something */
.drop > .Select-menu-outer {
    background-color: #222222;
    color: #eee;
    font-size: 1em;
}

/* color of selected item */
.Select--multi .Select-value{
    color: #fff;
}

/* ? */
.is-focused:not(.is-open) > .Select-control {
    border-color: #324c71;
}
