blinker
certifi
charset-normalizer
click
colorama
dash
dash-bootstrap-components
dash-bootstrap-templates
dash-core-components
dash-html-components
dash-table
Flask
itsdangerous
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
numpy
packaging
pandas
plotly
pyarrow
python-dateutil
pytz
requests
retrying
six
tenacity
typing_extensions
tzdata
urllib3
Werkzeug
zipp
